@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


:root {
  padding: 0;
  margin: 0;
  background: #f6f6f6;
}

.clippy {
  clip-path: polygon(0 89%, 100% 94%, 100% 100%, 0% 100%);
}
.clippyHero {
  clip-path: polygon(0 83%, 100% 90%, 100% 100%, 0% 100%);
}

.clippyfooter {
  clip-path: polygon(0 28%, 100% 33%, 100% 100%, 0% 100%);
}

@font-face {
  font-family: "avenirnormal";
  src: url(./public/font/avenir-next/AvenirNextCyr-Regular.ttf);
}
@font-face {
  font-family: "avenirbold";
  src: url(./public/font/avenir-next/AvenirNextCyr-Bold.ttf);
  font-weight:bold;
  font-style:bold
}

.h1{
  @apply tracking-[-2%] leading-[88px] 
}